<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>Voxtv</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.voxtv.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoxTV</string>
	<key>CFBundleDisplayName</key>
	<string>VoxTV</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>VoxTV 需要使用麦克风进行语音识别，以便将语音转换为文字发送到 Apple TV。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>VoxTV 需要使用语音识别将您的语音转换为文字。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>VoxTV 需要访问本地网络以通过 pyatv 向 Apple TV 发送文本。</string>
</dict>
</plist>
